* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --sky-blue: #27BAF2;
    --blue: #0D215C;
    --navy-blue: #031138;
    --white: #FFFFFF;
    --space-16: 1rem;
    --space-24: 1.5rem;
    --space-32: 2rem;
    --space-48: 3rem;
    --space-64: 4rem;
    --space-80: 5rem;
}


/* BACKGROUND VIDEO */

.banner video 
{
    width: 100%;
}

/* HEADER */

header {
    min-width: 100%;
}

header .logo img
{
    filter: invert(1);
}

ul li
{
    list-style: none;
    align-content: center;
}

ul li a
{
    text-decoration: none;
    color: var(--white);
    font-size: var(--space-16);
    cursor: pointer;
    font-weight: 900;
}

ul li a:hover
{
    color: var(--sky-blue);
    transition: all .2s ease-in-out;
}